<div
  class="flex flex-col items-center h-[100vh] md:h-[90vh] lg:h-[80vh] xl:h-[71vh] justify-center aos-init aos-animate"
  data-aos="fade"
>
  <!-- personal image -->
  <img
    class="rounded-full w-[250px] h-[250px] 2xl:w-[280px] 2xl:h-[280px]"
    src="images/about/avatar.jpg"
    alt="about avatar"
  />
  <h3 class="mt-6 mb-1 text-5xl font-semibold dark:text-white">
    Emmanuel Oreoluwa
  </h3>
  <div
    class="lg:grid grid-cols-12 md:gap-10 pt-4 md:pt-[30px] items-center"
  ></div>

  <p class="mb-4 text-[#7B7B7B]">Software Engineer</p>
  <!-- social link and social  buttons -->
  <div class="flex space-x-3">
    <!-- facebook link -->
    <a
      href="https://github.com/oredotjs/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="socialbtn text-[#1773EA]">
        <i class="fa-brands fa-github"></i>
      </span>
    </a>
    <!-- twitter link -->
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      <span class="socialbtn text-[#1C9CEA]">
        <i class="fa-brands fa-twitter"></i>
      </span>
    </a>
    <!-- dribbble icon and link -->
    <a href="https://dribbble.com/" target="_blank" rel="noopener noreferrer">
      <span class="socialbtn text-[#1773EA]">
        <i class="fa-brands fa-dev"></i>
      </span>
    </a>
    <!-- linkedin icon and link -->
    <a
      href="https://www.linkedin.com/in/emmanueloreoluwa/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="socialbtn text-[#0072b1]">
        <i class="fa-brands fa-linkedin-in"></i>
      </span>
    </a>
  </div>
  <!-- dowanload button -->
  <button class="dowanload-btn">
    <img src="images/icons/dowanload.png" alt="icon" class="mr-2" />Download CV
  </button>
</div>
