<section class="bg-white lg:rounded-2xl dark:bg-[#111111]">
  <div data-aos="fade" class="aos-init aos-animate">
    <div class="container sm:px-5 md:px-10 lg:px-20">
      <div class="py-12 px-4">
        <h2 class="after-effect after:left-44 mb-[40px] mt-12 lg:mt-0">
          Portfolio
        </h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-6"
        >

       <div class="portfolio_list-two-items isotop-item dev custom ">
                <div class="rounded-lg p-6 bg-[#e9faff] dark:bg-transparent dark:border-[2px] border-[#212425]">
                  <div class="overflow-hidden rounded-lg">
                    <a href="portfiloTwo.html#portfiloFour" rel="modal:open">
                      <img
                        class="w-full cursor-pointer transition duration-200 ease-in-out transform hover:scale-110 rounded-lg h-auto"
                        src="images/work_images/small/bank.jpg" alt="portfolio image" />
                    </a>
                  </div>
                     <div class="flex space-x-3">
                      <span class="pt-5 text-[14px] font-normal text-gray-lite block dark:text-[#A6A6A6]">Express</span>
                      <span class="pt-5 text-[14px] font-normal text-gray-lite block dark:text-[#A6A6A6]">Node Js</span>
                  <span class="pt-5 text-[14px] font-normal text-gray-lite block dark:text-[#A6A6A6]">Mongo Db</span>
                     </div>
                  
 
                  <h2
                    class="font-medium cursor-pointer text-xl duration-300 transition hover:text-[#FA5252] dark:hover:text-[#FA5252] dark:text-white mt-2">
                    <a href="portfiloTwo.html#portfiloFour" rel="modal:open">
Exchequer

                    </a>
                  </h2>
                  
   <p class="dark:text-white text-2line font-normal text-[15px] sm:text-sm">
                    A banking application with node express and mongo. 
                  </p>

               <div class="flex space-x-3 pt-5">
    <!-- facebook link -->
    <a
      href="https://github.com/oredotjs/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="socialbtn text-[#1773EA]">
        <i class="fa-brands fa-github"></i>
      </span>
    </a>
    <!-- twitter link -->
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      <span class="socialbtn text-[#1C9CEA]">
        <i class="fa-solid fa-link"></i>
      </span>
    </a>
    <!-- dribbble icon and link -->
    <a href="https://dribbble.com/" target="_blank" rel="noopener noreferrer">
      <span class="socialbtn text-[#1773EA]">
        <i class="fa-solid fa-blog"></i>
      </span>
    </a>
  </div>
                </div>
              </div>
                    
                    
       

         
        </div>
      </div>
    </div>

   
    </div>

    <!-- footer  start-->

    <!-- footer ends -->
  </div>
</section>
